header .logo img {
	width: auto; //for IE
	height: auto; //for IE
}

.grid img {
	width: auto; //for IE
}

.work-item figure {
	width: auto; //for IE
	height: auto; //for IE
}

#project-detail img {
	width: auto; //for IE
	height: auto; //for IE
}

figure a img {
    max-width: 100% !important;
}

figure a {
    display: inline-block;
    max-width: 100%;
}

figure a span {
    display: block;
}
